.about{
    margin: 2%;
    border: 5px solid rgb(234, 255, 0);
    font-size: large;
    height: 90%;
    border-radius: 15px;
    background: url("../assets/fondoAbout.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}


.about img{
    width: 20em;
    border-radius: 50%;
}